body {
  background: black;
}

.shell {
  background: black;
  color: rgb(0,249,62);
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 1em;
  padding: 1em;
  max-height: 50em;
}

.intro {
  margin-bottom: 1em;
}

.stdout {
  overflow: wrap;
}

.directory, .file {
  margin-right: 1em;
  text-decoration: none;
}

.directory {
  color: rgb(0,233,234);
}

.file {
  color: rgb(0,249,62);
}

.command {
  margin-bottom: .5em;
}

.stdin:last-of-type::after {
  content: "\00a0";
  border: solid 1px rgb(0,249,62);
  background-color: rgb(0,249,62);
  background-position: top left;
  vertical-align: text-bottom;
}
